{% extends 'base.html' %}
{% block title %}
    Antilupa.com | About Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">

               <h6>Antilupa</h6>
        <br>
        Antilupa is a crowd sourced list of track record of people, taken from existing online media.<br>
        User can react to each record and choose whether a record is trustworthy or not.<br><br>
        A verified user will have more credibility and accountability for the data they input.



    </div>
</body>
{% endblock %}