{% extends 'base.html' %}
{% block title %}
    Antilupa.com | About Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container" style="margin-top:50px">

               <h6>Antilupa</h6>
        <br>
        Antilupa is a crowd sourced list of track record of people or topic, with references from existing online media.<br>
        We intended to help user to understand certain people or topic in an easier yet comprehensive way by data visualization.<br>
<br>
        User can react to each record and choose whether a record is trustworthy or not.<br><br>
        <h6>Disclaimer</h6><br>
        We do not represent any parties, all statements and information are from our user.




    </div>
</body>
{% endblock %}