{% extends 'base.html' %}
{% block title %}
    Welcome to Antilupa
{% endblock %}
{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Antilupa</h1>
            <p class="lead font-weight-normal">Online track record for everyone</p>
            {% if form: %}
            show form
            {% else: %}
            <a class="btn btn-primary" href="{{ url_for('remember_page') }}">Get Started</a>
            {% endif %}
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}