{% extends 'base.html' %}
{% block title %}
Antilupa | Track Record
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px; margin-right:20px">
   <div class="col-12">
       <h2>Track Record for {{ name }}</h2>
       <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col" >Record</th>
               <th scope="col" >Source</th>

               <th scope="col">Reaction</th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for record in track_records %}
            <tr>
               <td>{{ record.date }}<br>{{ record.title }}</td>
               <td>
                  {% set domain = fetch_domain(record.url) %}
                  <a href="{{ record.url }}" target="_blank">{{ domain }}</a><br><br>
               truth score : {{ record.truth_score }}</td>

               <td>{{ record.reaction }}</td>

            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

</div>
{% endblock %}